html{
	font-family: "Lato", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: auto;
   	background-color: white;
    border: 3px black;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

header {
	font-size: 30px;
	font-type: sans-serif;
}

h1 {
	font-size: 30px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: white;
	padding: 15px;
}

#parent_div_1, #parent_div_2, #parent_div_3 {

  margin-right: 10px;
  float: left;
}
.child_div_1 {
  float: left;
  margin-right: 5px;
}
.sidenav {
    width: 220px;
    /*#position: fixed;*/
    z-index: 1;
    top: 120px;
    left: 58px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px;
		float:left;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #4CAF50;
    display: block;
}

.sidenav a:hover {
    color: #800000;
}

/*	position: absolute;
	right: 0;
}*/

#inputBox {
	float: right;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: white;
		padding-bottom: 50%;
}
